@charset "UTF-8";

$text_color: #212529;
$bg_color_grey: lightgray;
$create_button_color: greenyellow;
$create_button_color_disabled : grey;
$delete_button_color : orangered;


html {
  font-family: sans-serif;
  //line-height: 1.15;
  margin-bottom: 5em;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text_color;
  text-align: left;
  background-color: #fff;
}

.header{
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  background-color: lightcyan;
}

.header__welcomeText{
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
}

.todoSection{
  width: 60%;
  margin-left: 2em;
  margin-right: 2em;
}

.todoList{
  border-radius: 5px;
  border: 1px solid black;
}

.todoList__row{
  padding-left: 1em;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  display: flex;
  &_last{
    padding-left: 1em;
    display: flex;
  }
}

.todoList__item{
  flex-wrap: wrap;
  width: 80%;
}

.todoList__buttons{
  flex-wrap: nowrap;
  width: 20%;
}

.todoList__text{
  padding: 12px 5px;
  &_header{
    flex-wrap: wrap;
    font-weight: bold;
  }
}

.todoList__input{
  width:100%;
  padding: 12px 20px;
  /*margin: 8px 0;*/
  box-sizing: border-box;
  font-size: 1rem;
}

.todoList__button{
  margin-left: 0.2em;
  padding: 14px 15px;
}

.height_m{
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.height_l{
  padding-top: 2.0em;
  padding-bottom: 2.0em;
}

.grey{
  background-color: $bg_color_grey;
}

.button-create{
  background-color: $create_button_color;
  &__disabled{
    background-color: $create_button_color_disabled;
  }
}

.button-delete{
  background-color: $delete_button_color;
}

p{
  margin-left: 1em;
  font-weight: bold;
}